@import '../../Global/Global.scss';

.Instagram {
    width: 62.24%;
    height: fit-content;
    margin: 0 18.88% 0 18.88%;
    @include flex (flex-start,center,column,relative);
    &>h3 {
        @include flex(flex-start,center);
        font-weight: 800;
        span{
            margin: 0 5px;
            position: relative;
            @include flex(center, center);
        }
    }
    &>p {
        margin-top: 10px;
    }
    .list{
        width: 100%;
        height: 230px;
        .list-slider{
            width: 100%;
            height: 100%;
            margin-left: 20px;
            text-align: center;
            img{
                width: 230px;
                height: 230px;
            }
        }
        .icon-left {
            @include flex (center,center,$ps: absolute);
            top: 45%;
            left: 0px;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: white;
            border: 1px solid rgb(201, 197, 197);
            z-index: 1;
            cursor: pointer;
        }
        .icon-right {
            @include flex (center,center,$ps: absolute);
            top: 45%;
            right: 0px;
            background-color: white;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 1px solid rgb(201, 197, 197);
            z-index: 999;
            cursor: pointer;
        }

    }
    .bt{
        position: relative;
        color: white;
        background-color: #232323;
        width: 18%;
        height: 40px;
        margin-top: 30px;
        margin-bottom: 70px;
        font-weight: bold;
        font-size: 0.8rem;
        cursor: pointer;
        &:hover{
            color: #232323;
            background-color: white;
        }
    }
}

@media screen and (max-width:1024px) {
    .Instagram {
        .bt{
            width: 30%;
            background-color: rgb(255,232,232);
            color:black;
            border: 3px solid black;
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width:768px) {
    .Instagram {
        .bt{
            width: 40%;
            background-color: #5fe7c5;
        }
    }
}