@import '../../Global/Global.scss';
@mixin arrowBox($cl:black,$l:80%,$dp:block){
    z-index: 99;
    position: absolute;
    top:-25px;
    left:$l;
    line-height: 1;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
    background-color: $cl;
    padding: 5px 5px 3px 5px;
    &::before{
        display:$dp;
        z-index: -1;
        content: '';
        position: absolute;
        left:25%;
        width: 16px;
        height: 16px;
        background-color: $cl;
        transform: rotate(45deg);        
    }
}
.Navbar {
    @include flex($ai:center,$fd: column, $ps: relative);
    margin: 0;
    width: 100%;
    height: fit-content ;
    position: sticky;
    top:-120px;
    z-index: 99;

    .top{
        background: #ffe8e8;
        color: #b05d5d;
        margin: 0;
        height: 36px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .middle{
        margin: 0 18.8%;
        height: 98px;
        width: 63.4%;
        @include flex(space-between,center,row,relative);
        .left{
            @include flex(flex-start,center);
            flex: 30;
            height: 100%;
            &>img{
                width:auto;
                height:45px;
                cursor: pointer;
            }
        }
        .right{
            @include flex(space-around, flex-end, column,relative);
            flex: 70;
            .top-right{
                position: relative;
                margin-top: 5px;
            }
            .bot-right{
                width: 100%;
                margin-top: 5px;
                position: relative;
                @include flex(flex-end,center);
                &>span{
                    margin: 0;
                    font-size: 0.9rem;
                    width: fit-content;
                    @include flex(flex-end);
                    cursor: pointer;
                    &:nth-of-type(1){
                        min-width: 150px;
                        margin-left: 50px;
                        &>span{

                            transition-duration: 0.7s;
                            border-bottom: 1px hidden white;
                        }
                        &:hover{
                            &>span{border-bottom: 1px solid black;}  
                        }
                    }
                    &:nth-of-type(2){
                        min-width: 120px;
                        &>span{
                            transition-duration: 0.7s;
                            border-bottom: 1px hidden white;
                        }
                        &:hover{
                            &>span{border-bottom: 1px solid black;}  
                        }
                    }
                    &:nth-of-type(3){
                        min-width: 75px;
                        &>span{
                            transition-duration: 0.7s;
                            border-bottom: 1px hidden white;
                            margin-right: 10px;
                        }
                        &:hover{
                            &>span{border-bottom: 1px solid black;}  
                        }
                    }
                    &:nth-of-type(4){
                        min-width: 120px;
                        &>span{
                            text-align: right;
                            transition-duration: 0.7s;
                            border-bottom: 1px hidden white;
                        }
                        &:hover{
                            &>span{border-bottom: 1px solid black;}  
                        }
                    }
                }
                &>span:nth-of-type(1){
                    flex:29;
                    .shop-count{
                        background-color: #ffe8e8;
                        border-radius: 100%;
                        border: 1px solid #ffe8e8;
                        width: 25px;
                        height: 25px;
                        @include flex(center,center);
                        margin-left: 0.5rem;
                    }
                } 
                &>span:nth-of-type(2){
                    flex:26
                }
                &>span:nth-of-type(3){
                    flex:20
                }
                &>span:nth-of-type(4){
                    flex:25
                }
            }
        }
    }
    .bottom{
        width: 100%;
        height: 45px;
        background-color: #232323;
        color: white;
        @include flex(flex-start,center,$ps:sticky);
        font-size: 0.9rem;
        font-weight: bold;
        margin: 0;
        ul{
            @include flex(flex-start,$ps: relative);
            list-style-type: none;
            margin-left:18.8%;
            margin-right:18.8%;
            padding: 0;
            // left: -3%;
            &>li{ 
                width: calc(100/9);
                padding: 0px;
                min-width: 50px;
                margin: 0;
                margin-right: 15px;
                position: relative;
                cursor: pointer;
                transition-duration: 0.5s;
                border-bottom: 1px hidden #232323;
                padding-bottom: 1px;
                &:nth-of-type(1){
                    min-width: 75px
                }
                &:nth-of-type(6){
                    min-width: 150px
                }
                &:hover{
                    padding-bottom: 1px;
                    border-bottom: 1px solid white;
                    
                }
                
            }
            &>li {
                .promo1{
                    @include arrowBox($cl:#ef6454);    
                }
                .promo2{
                    @include arrowBox($cl:#06bfe2,$l:60% )
                } 
                .promo3{
                    @include arrowBox($cl: #ffbb49)
                }  
            }
        }
    }
}
.displayNone {
    display: none;
}


@media screen and (max-width: 1024px){
    .Navbar{
        position: sticky;
        top:-40px;
        background-color: rgba(white,0.3);
    }
    .tb{
        @include flex (center,$fd: column,$ps: relative);
        height: 50px;
        width: 100%;
        margin: 0 0 0 0;

        .tb-middle{
            margin-top: 5px;
            height: 50px;
            width: 100%;
            @include flex(space-between,center,row,absolute);
            .tb-left{
                margin-left: 10px; 
                cursor: pointer;
                .menu{
                    height: 250px;
                    width: 175px;
                    border: 1px solid black;
                    @include flex(flex-start,center,column,absolute);
                    
                    &>div{
                        position: relative;
                        background: white;
                        color: black;
                        width: 100%;
                        height: 30px;
                        text-align: center;
                        font-size: 0.9rem;
                        z-index: 5;
                        border-bottom: 1px solid black;
                        cursor:pointer;
                        &:hover{
                            background: rgb(243, 207, 222)
                        }
                    }
                    .promo1{
                        @include arrowBox($cl:#ef6454,$dp:none);    
                    }
                    .promo2{
                        @include arrowBox($cl:#06bfe2,$dp:none)
                    } 
                    .promo3{
                        @include arrowBox($cl: #ffbb49,$dp:none)
                    }  
                }
            }
            .tb-mid{
                @include flex (center,center);
                img{
                    width: 40%;
                    height: auto;
                    cursor: pointer;
                }
            }
            .tb-right{
                margin-right: 10px;
                @include flex(flex-end);
                &> span{
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
     
        }
    }
    
}

@media screen and (max-width: 768px){
    .tb {
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
}