@import '../../Global/Global.scss';

.Fly {
    position: fixed;
    @include flex (space-around, center,column, fixed);
    right:2%;
    top: 50%;
    width:40px;
    height:120px;
    box-shadow: 1px 1px 10px 5px rgba(black,0.3);
    z-index: 99;
    &>div{
        @include flex(center,center);
        width: 100%;
        height: 33.33%;
        border-bottom: 1px solid rgb(194, 186, 186);
        cursor: pointer;
    
    }
    &>:nth-child(3){
        border-bottom: 0px
    }
}