@import '../../Global/Global.scss';

.Banner{
    @include flex(flex-start,center,row,relative);
    width: 100%;
    height: fit-content;
    &::after{
        content:'';
        width: 100%;
        height: 0%;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        transition-duration: 1s;
    }
    .image{
        position: relative;
        width:100%;
        height: auto;
        top: 0;
        left: 0;
        z-index: -1;
        
        img{
            width: 100%;
            height: 100%;
        }
       
    }
    &:hover {
        &::after{
            width: 100%;
            height: 110%;
            position: absolute;
            top:0;
            left:0;
            z-index: -1;
            background-color: rgba(white,0.3);
        }
    }
    .main-product{
        margin-left: 15%;
        width: 25%;
        height: auto;
        @include flex(center,center,column,absolute);
        text-align: center;
        top: 20%;
        h1{
            font-size: 3rem;
            margin-bottom: 30px;
            &::after {
                content:"";
                width: 20%;
                height: 80px;
                border-bottom: 5px solid #232323;
                position: absolute;
                z-index: 99;
                top:0;
                left: 40%;
            }
        }
        p{
            font-weight: 500;
            margin-bottom: 50px;
        }
        span{
            background:#232323 ;
            padding: 10px 60px;
            color: white;
            transition-duration: 0.5s;
            border: 3px solid black;
            font: {
                size: 1.2rem;
                weight: bold;
            }
            cursor: pointer;
            &:hover{
                background: white;
                color: #232323;
                border: 3px solid black;
                
            }
        }
        
    }
    
}

@media screen and (max-width: 1025px) {
    .Banner{ 
        margin-top: 20px;
        &::after{
            margin-top: -20px;
        }
        .main-product{
            margin-top: -30px;
            h1{
                font-size: 2.2rem;
                &::after {
                    width: 30%;
                    left: 35%;
                    height: 65px;
                }
            }
            p{
                font-size: 0.9rem;
                width: 120%;
                margin-left: -20px;
            }
            span{
                font-size: 1rem;
                padding: 5px 30px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .Banner{ 
        margin-top: 20px;
        &::after{
            margin-top: -10px;
        }
        .main-product{
            margin-top: -30px;
            h1{
                font-size: 1.5rem;
                &::after {
                    width: 30%;
                    left: 35%;
                    height: 45px;
                }
            }
            p{
                font-size: 0.7rem;
                width: 160%;
                margin-top: -10px;
                margin-left: -30%;
                margin-bottom: 5px;
            }
            span{
                font-size: 0.7rem;
                width: 100%;
                padding: 2px 15px;
            }
        }
    }
}
