@import '../../Global/Global.scss';

.Product{
    width: 62.24%;
    height: fit-content;
    margin: 0 18.88% 70px 18.88%;
    border-top: 3px solid #232323;
    @include flex($ai: center,$fd: column, $ps: relative);
    .heading{
        position: absolute;
        width: 100%;
        height: 55px;
        top: -2%;
        @include flex(center,center,column,relative);
        &>h5{
            width: 36.8%;
            background-color: white;
            text-align: center;
            font-size: 1.4rem;
        }
        &>span {
            margin-top: 5px;
            border-bottom: 1px solid #232323;
        }
    }
    .product-list{
        width: 100%;
        margin-top: 25px;
        @include flex (space-between, center, row, relative);
        flex-wrap: wrap;
    }
    .bt {
        padding: 10px;
        width: 25.6%;
        background-color: white;
        border: 1px solid #b8b8b8;
        color: black;
        font-weight: 700;
        font-size: 0.9rem;
        @include flex (center, center,row, relative);
        margin-top: 60px;
        cursor: pointer;
        &:hover {
            border: 5px solid black;
        }
    }
}


@media screen and (max-width:1024px) {
    .Product{
        height: fit-content;
        margin: 0 5% 0 5%;
        width: 90%;
        .bt{
            background-color: rgb(255,232,232);
            border: 3px solid black;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width:768px) {
    .Product{
        height: fit-content;
        margin: 0 5% 0 5%;
        width: 90%;
        .bt{
            background-color: rgb(95, 231, 197);
            border: 3px solid black;
            margin-bottom: 50px;
        }
    }
}