@import '../../../Global/Global.scss';

@mixin content {
    width: 100%;
    height: 100%;    
    font-size: 0.7rem;
    @include flex(flex-start,$ai:center);
}

.topbar{
    width: 100%;
    position: absolute;
    margin: 0;
    height: 36px;
    animation: hotPromotion 20s linear  infinite;
    .content-topbar1{
            @include content;
            position: relative;
            &>span{
                @include flex(center, center);
                position: relative;
                align-self: center;
                width: 400px;
                &>b{
                    margin-left: 0.2rem;
                }
                white-space: nowrap;
            } 
        }
    .content-topbar2{
        @include content;
        left:-150%;
        position:absolute;
        top: 0;
        &>span{
            @include flex(center, center);
            position: relative;
            white-space: nowrap;
            align-self: center;
            width: 400px;
            &>b{
                margin-left: 0.2rem;
            }
        } 
    }
}



@keyframes hotPromotion {
    0% {
        left:0%;
    }
    100%{
        left:150%;
    }
}

@media screen and (max-width:1024px) {
    .topbar .content-topbar2{
        left: -250%;
    }

    @keyframes hotPromotion {
        0% {
            left:0%;
        }
        100%{
            left:250%;
        }
    }

}

@media screen and (max-width:768px) {
    .topbar .content-topbar2{
        left: -350%;
    }

    @keyframes hotPromotion {
        0% {
            left:0%;
        }
        100%{
            left:350%;
        }
    }

}