@import '../../Global/Global.scss';

.Footer{
    height: fit-content;
    width: 100%;
    @include flex ($fd: column,$ps:relative);
    color: white;
    background-color: #232323;
    .top{
        width: 62.24%;
        margin: 40px 18.88% 0 18.88%;
        @include flex($ps: relative);
        &>div{
            p{
                min-width: 120px;
            }
            &>h4{
                min-width: 140px;
            }
        }
        .signup{
            @include flex($fd:column);
            &>p{
                color: #cfcfcf;
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 0.8rem;
                
            }
            &>h4{
                font-size: 0.8rem;
            }
            &>form{
                width: 100%;
                min-width: 320px;
            }
            .bt{
                margin-left: 10px;
                height: 45px;
                width: 100px;
                background-color: white;
                color:#232323;
                font-weight: BOLD;
                font-size: 0.9;
                border: 1px solid #232323;
                cursor: pointer;
                &:hover{
                    background-color: #232323;
                    color:white;
                    border: 1px solid #cfcfcf;
                }
            }
            .user{
                height: 45px;
                width: 65%;
                background-color: #232323 ;
                color:white;
                border: 1px solid #cfcfcf;
            }
            .social{
                margin-top: 30px;
                cursor: pointer;
                color: #232323;
                width: 100%;
                font-family: 'Helvetica', 'FontAwesome', 'san-serif';
                @include flex(flex-start,center,$ps:relative);
                &>span{
                    height: 45px;
                    width: 45px;
                    margin-right: 5px;
                    background-color: white;
                    border-radius: 100%;
                    @include flex(center,center);
                    transform: scale(0.7);
                }
            }
        }
        &>div:nth-of-type(1),&>div:nth-of-type(2),&>div:nth-of-type(3) {
            flex: 1;
            display: relative;
            p{
                color: #cfcfcf;
                margin-top: 5px;
                margin-bottom: 10px;
                font-size: 0.8rem;
                &>span{
                    cursor: pointer;
                    &:hover{
                        color: orange;
                        
                    }
                }
            }
            &>h4{
                font-size: 0.8rem;
                margin-bottom: 20px;
            }
        }
        
    }
    .bot{
        width: 62.24%;
        height: 150px;
        margin: 60px 18.88% 0 18.88%;
        @include flex (space-between, $ps: relative);
        .left {
            @include flex(flex-start,flex-start,column,relative);
            &>p{
                font-size: 0.8rem;
                color: #cfcfcf;
            }
            &>:nth-child(2){
                margin-top: 20px;

            }
        }
        .right{
            @include flex(flex-end,center,row,relative);
            width: 50%;
            span{
                margin-left: 10px;
            }
            img{
                width: auto;
                height: 24px;
            }
        }

    }
    .displayNone {
        display: none;
    }
}
.icon{
    display:none;
}
@media screen and (max-width:1024px) {
    .Footer{
        .top{
            flex-wrap: wrap;
            .signup{
                margin-top: 50px;
            }
        }
        .bot{
            @include flex(center, flex-start,column,relative);
            .left{
                text-align: center;
                
            }
            .right{
                margin-top: 20px;
                margin-left: -10px;
                @include flex(flex-start,center,row,relative);
            }
        }
    }
}


@media screen and (max-width:768px) {
    .dpnone {display:none}
    .Footer{
        .top{
            width: 100%;
            margin: 40px 0 0 0;
            @include flex(center,center,column,relative);
            h4{
                .icon{
                    display:inline-block;
                    position: absolute;
                }
                cursor: pointer;
            }
            &>div{
                margin-top: 15px;
                width: 100%;
                text-align: center;
                border-bottom: 1px solid rgba(209, 204, 204,0.2);
                
            }
            .signup{
                width: 100%;
                margin-top: 20px;
                
                @include flex (center,center,column);
                &>form{
                    @include flex (center,center);
                }
                .social{
                    @include flex (Center,center);
                    margin-bottom: 40px;
                }
            }
        }
        .bot{
            margin: 20px 0 0 0;
            width: 100%;
            @include flex(center, center,column,relative);
            .left{
                @include flex(center,center,column,relative);
                
            }
            .right{
                
                margin-top: 20px;
                margin-left: -10px;
                @include flex(center,center,row,relative);
            }
        }
    }
}