@import '../../Global/Global.scss';

.Categories {
    width: 62.24%;
    height: 200px;
    margin: 50px 18.88% 66px 18.88%;
    @include flex (space-between,$ps:relative);
    .cate{
        width: 31.5%;
        height: 100%;
        margin: 0;
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        .image{
            width: 100%;
            height: 100%;
            overflow: hidden;
            
            img{
                transition: 0.5s;
                width: 100%;
                height: 100%;
            }
            
        }
        .title{
            position: absolute;
            align-self: center;
            color: white;
            font: {
                size: 1.3rem;
                weight: bold;
            }
            z-index: 3;
            &::after{
                content:'';
                position: absolute;
                border-bottom: 1px solid white;
                width: 0%;
                left:0;
                bottom:0;
                transition: 0.5s
            }
        }
        .modal{
            position:absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: rgba(black,0.1);
        }


        &:hover {
            .image img{
                transform: scale(1.2);
            }
            .title::after{
                width: 100%;
            } 
        }
    }
}

@media screen and (max-width:1024px) {
    .Categories {
        width: 90%;
        height: 200px;
        margin: 30px 5% 66px 5%;
    }
}

@media screen and (max-width:768px) {
    .Categories {
        width: 90%;
        height: 900px;
        margin: 10px 5% 66px 5%;
        @include flex(flex-start,center,column,relative);
        .cate{
            height:30%;
            width: 80%;
            margin-top: 30px;
            .title{
                color: rgb(255,232,232);
            }
        }
        
    }
}