@import './Global/Global.scss';
@font-face {
    font-family: 'Poppins';
    src: url('./Font/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2');
  }

*{
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  box-sizing: border-box;
  margin: 0;
}

:root{
  font-size: 16px;
  margin: 0;
}
.App {
  margin: 0px;
  width: 100%;
  min-height: 3000px;
  @include flex($fd: column);
  position: relative;
  
}


