@import '../../../Global/Global.scss';

.Card{
    height: 500px;
    width: 24%;
    @include flex (flex-end, center, column, relative);
    
    .image {
        img{
            height: 100%;
            width: 100%;
        }
        height: 360px;
        width: 100%;
        position: relative;
        cursor: pointer;
        z-index: 1;
        .add-cart{   
            bottom:0;
            width: 100%;
            height:145px;
            @include flex(space-around,center,column,absolute);
            display: none;
            transition: 0.5s;
            background-color: white;
            .size{
                width: 100%;
                color: black;
                &>div:nth-of-type(1){
                    text-align: center;
                    font-size: 0.9rem;
                    &>:nth-child(1){
                        font-weight: 700;
                    }
                    &>:nth-child(2){
                        margin-left: 3px;
                    }
                }
                &>div:nth-of-type(2){
                    width: 100%;
                    font-weight: 700;
                    margin-top: 10px;
                    @include flex(center);
                    &>span{
                        position: relative;
                        width: 15%;
                        text-align: center;
                        &::after{
                            content: '';
                            border-bottom: 3px solid black;
                            position: absolute;
                            width: 0%;
                            bottom: 0;
                            left: 0;
                            transition: 0.5s;
                            
                        }
                        &:hover{
                            &::after{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .bt1{
                width: 100%;
                height: 45px;
                color: white;
                background-color: #232323;
                @include flex(center,center);
                border: 3px solid #362828;
                font-weight: 700;
            }
        

        }
        &:hover{
            .add-cart{display: flex;}
        }
        .add-cart2{   
            bottom:0;
            width: 100%;
            height:75px;
            @include flex(flex-end,center,column,absolute);
            display: none;
            transition: 0.5s;
            background-color: white;
            .bt2{
                position: absolute;
                width: 100%;
                height: 45px;
                color: #232323;
                background-color: white;
                border: 3px solid #362828;
                font-weight: 700;
                bottom: 0;
                @include flex(center, center)

            }

        } 
        &:hover{
            .add-cart2{display: flex;}
        } 
        &>span:nth-of-type(1) {
            position: absolute;
            top: 0;
            right: 0;
            width: 28px;
            height: 28px;
            background: #f8f8f8;
            border-radius: 100%;
            text-align: center;
            
        }
    }
    .content{
        height: 140px;
        width: 100%;
        @include flex (space-around, center,column,relative);
        &>h5 {
            margin-top: 10px;
            text-transform: capitalize;
            color: #a4a4a4;
            font-weight: 500;
        }
        &>span:nth-of-type(1){
            color: black;
            font-weight: 500;
            margin-top: -10px;
            text-align: center;
            line-height: 15px;
        }
        &>span:nth-of-type(2){
            color: black;
            font-weight: 700;
            margin-top: 5px;
            
        }
        &>span:nth-of-type(3){
            width: 100%;
            height:30px;
            @include flex (center,center,row,relative);
            &>span {
                position: relative;
                width: 25px;
                height:80%;
                margin: 0px 5px;
                border-radius: 100%;
                cursor: pointer;

                &::after{
                    content:'';
                    position: absolute;
                    width: 100%;
                    height:100%;
                    border-radius: 100%;
                    border: 1px solid rgb(190, 177, 177);
                    z-index: 2;
                    transform: scale(1.2);
                }
            }
            .count-color{
                color: #a4a4a4;
                font-size: 0.8rem;
                text-align: center;
                top: 5px;
                font-weight: bold;
                cursor: pointer;
            }
            
        }
    }


}

@media screen and (max-width:1024px) {
    .Card{
        width: 30%;
        margin: 0 10%;
    }
}

@media screen and (max-width:768px) {
    .Card{
        width: 40%;
        margin: 0 0;
    }
}